@charset "utf-8";
#header {
	height: 150px;
	background-color: #CCC;
	width: 1000px;
	margin: auto;
	background-image: url(retainedheader.fw.png);
	background-repeat: no-repeat;
}
#container {
	height: 750px;
	margin: auto;
	width: 1000px;
}
#container #content {
	height: 800px;
	width: 800px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.TextMargin {
	margin-left: 20px;
	margin-top: 5px;
	float: none;
}